
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 120px;
}

p {
  font-family: sans-serif;
}

img  {
  max-width: 240px;
  padding:10px;
 }


 .blue {
   border: 1px solid;
   border-color: blue;
   max-width: 240px;
   max-height: 240px;
 }

 .cheddar {
  /* max-width: 240px;
   max-height: 240px;
   */
 }

 .epoisses {
   /*
   max-width: 240px;
   max-height: 240px;
   */
 }

 .gruyere {
   border: 1px solid;
   border-color: purple;
   max-width: 240px;
   max-height: 240px;
 }

 .manchego {
   border: 1px solid;
   border-color: black;
   max-width: 240px;
   max-height: 240px;
 }

 .parm {
   border: 1px solid;
   border-color: pink;
   max-width: 240px;
   max-height: 240px;
 }
