@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

h1{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 120px;
  margin-bottom: 10px;
}

body {
  display: grid;
  grid-template-columns: auto;
}

p {
  font-family: sans-serif;
  max-width: 880px;
  margin-left: 8px;
}

a{
}

 svg {
   height: 180px;
   width: 260px;
 }

 svg {
   height: 240px;
   width: 240px;
   margin-right: 24px;
   margin-bottom: 24px;
   float: left;
 }

 svg #mouse{
   visibility: hidden;
 }

 svg:hover #mouse{
   visibility: visible;
 }

 svg:nth-child(3n+3) {
       margin-right: 0;
}

 #container {
   width: 720px;
   margin: 10 auto;
 }


 #classicblue {
   max-width: 240px;
   max-height: 240px;
   float: left;
}

 #cheddar {
  position: relative;
  max-width: 240px;
  max-height: 240px;
  float: left;
 }

 #epoissesde {
   max-width: 240px;
   max-height: 240px;
   float: left;
 }

#gruyere {
   max-width: 240px;
   max-height: 240px;
   float: left;
 }

 #manchego {
   max-width: 240px;
   max-height: 240px;
   float: left;
 }

 #parmigianoreggiano {
   max-width: 240px;
   max-height: 240px;
   float: left;
 }
